.board-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
    margin: 10px 10px 0 10px;
    padding: 5px;
    border-color: $gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: #fdfdfd;
  }

  &__title {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-size: 20px;
    padding: 0.5rem;
    height: 100%;
    margin: 0 2px 0 0;
    color: $white;
    background-color: $scorpion;
    border-radius: 5px;
    width: 43px;
    min-width: 43px;
  }

  &__task-view {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    left: 0;
    border-radius: 5px;
  }
}
