.container {
  justify-content: center;
  width: 100%;
  display: flex;

  &__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &--space-around {
    justify-content: space-around;
  }
}
