.navbar {
  width: 100%;
  background-color: #eee;
  height: 100%;
  display: inherit;
  justify-content: inherit;
  border-bottom: 1px solid $gray;

  &__item {
    margin: 10px 0 -1px 0;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
    width: 180px;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    transition: all;
    background-color: transparent;
    border: 0;

    @include hover-supported() {
      color: $white;
      background-color: $gray;
    }

    &:active {
      background-color: $scorpion;
    }

    &--active {
      background-color: #f8f8f8;
      border-left: 1px;
      border-top: 1px;
      border-right: 1px;
      border-style: solid;
      border-color: $gray;
    }
  }
}
