.task {
  margin: 0 2px 0 2px; 
  border-radius: 5px;
  padding: 0 10px;
  border-color: $gray;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
  background-color: $white;

  .svg-inline--fa {
    pointer-events: none;
  }

  &--expanded {
    position: fixed;
    width: 50vw;
    left: 25vw;
    top: 25vh;
    height: 50vh;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(77,77,77,1);
    box-shadow: 0px 0px 5px 0px rgba(77,77,77,1);

    .task__footer-button-group {
      pointer-events: none;
    }

    .task__footer-button-group & {
      pointer-events: none;
    }
  }

  &:last-child {
    margin-right: 5px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 17px;

    > button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      text-transform: uppercase;
    }
  }

  &__header {
    display: flex;
    background: #eee;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    border-radius: 4px 4px 0 0;
    margin: 0 -10px 0 -10px;
    border-top: solid 1px $gray;

    &[data-priority="0"] {
      border-top: solid 8px #ffdfdf;
    }
    &[data-priority="1"] {
      border-top: solid 8px #ffaaaa;
    }
    &[data-priority="2"] {
      border-top: solid 8px #ff7d7d;
    }
    &[data-priority="3"] {
      border-top: solid 8px #f74d4d;
    }
    &[data-priority="4"] {
      border-top: solid 8px #f72828;
    }
    &[data-priority="5"] {
      border-top: solid 8px #e40000;
    }
    &[data-priority="6"] {
      border-top: solid 8px #a00000;
    }
    &[data-priority="7"] {
      border-top: solid 8px #690101;
    }
    &[data-priority="8"] {
      border-top: solid 8px #410000;
    }
    &[data-priority="9"] {
      border-top: solid 8px #2e0000;
    }

    &-sub {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: center;

      &--left {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
      }

      &--center {
        width: 50%;
        display: inherit;
        justify-content: center;
        text-align: center;
      }

      &--right {
        justify-content: flex-end;
        align-items: flex-end;
        text-align: center;
      }

      &--left, &--right {
        width: 25%;
        display: inherit;
        font-size: 12px;
        margin-top: 15px;
        flex-direction: column;
        height: 100%;

        &-top {
          padding: 2px;
        }
      }
    }
  }

  &__body {
    display: flex;
    flex: 1 1 auto;
    font-size: 0.9rem;
    padding: 5px;
    margin: 5px 0 5px 0;
    line-height: 1.6;
    overflow: auto;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    background: #eee;
    border-radius: 0 0 5px 5px;
    margin: 0 -10px;
  }
  
  &__footer-button {
    width: 33.33%;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    outline: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &-group {
      display: inherit;
      flex-direction: row;
    }
  }

  &__del {
    color: $red;
    background-color: $link;
  }

  &__date {
    font-size: 9px;
    text-align: center;

    &--deadline {
      background-color: $scorpion;
      color: $white;
      font-size: 11px;
      margin: 0 -1px;
      padding: 10px 0;

    }

    &--created {
      padding: 2px;
      color: $link;
    }
  }
}
